<% include ../partials/header %>

    <form action="/admin/courses" method="get">
        <input type="submit" value="Go to courses" />
    </form>


    <form action="/admin/users" method="get">
        <input type="submit" value="Go to users" />
    </form>


    <form action="/admin/carousel" method="get">
        <input type="submit" value="Go to carousel" />
    </form>

    <% include ../partials/footer %>