<% include ../partials/header %>

<div>
        <% if(car.length > 0) {
            car.forEach(e => { %>
            <div>
                <a href="<%= e.link %>">
                    <img src="/content/<%= e.picture.filename %>" style="width: 200px; height: 200px" />
                </a>
            </div>
            <% }) %>

                <% } %>

    </div>
    <form action='/courses/new'>
    <input type='submit' value='NEW COURSE' />
    </form>
    <div>
        <% courses.forEach((course) => { %>
            <p>
                <a href="/courses/<%= course.id %>">
                    <%= course.name %>
                </a>
            </p>
            <% }) %>
    </div>

<% include ../partials/footer %>