<% include ./partials/header %>
 
        <div>
            <Text>Name : <%= data.name %></Text>
        </div>
        <div>
            <img src="<%= data.image %>"/>
        </div>

<% include ./partials/footer %>