<% include ./partials/header %>
        <% courses.forEach((courses) => { %>
            <p>
                <a href="/courses/<%= courses.id %>">
                    <%= courses.name %>
                </a>
            </p>
            <% }) %>
    </div>
    <% include ./partials/footer %>