<% include ../partials/header %>
    <div>
      <% users.forEach(e => { %>
        <p>
            <a href="/users/<%= e.id %>">
                <%= e.username %>
            </a>
        </p>
        <% }) %>

  
    </div>
<% include ../partials/footer %>